<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head.ejs") %>

<body>
    <div>lets create a product</div>
    <div>there will be a form here eventually</div>
    <div>elements of the object are name, description, img (a url), price, qty</div>
</body>
</html>